body {
    font-family: "Montserrat", sans-serif;
    display: grid;
    margin: 0.5rem;
    background-color: #E5EFC1;
}

section {
    padding: 1rem;
}

section h1 {
    font-size: xx-large;
    text-align: center;
    margin: 0px;
}

section ul {
    display: grid;
    grid-template-areas:
        'li li li'
        'li li li';
    gap: 1rem;
    grid-template-columns: 32% 32% 32%;
    padding: 0px;
}

section li {
    background-color: #A2D5AB;
    list-style-type: none;
    border: 1px solid #39AEA9;
    padding: 0.75rem;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    border-radius: 25px;
}

section li:hover {
    background-color: #FFD59E;
}

section li:focus {
    background-color: #F7FF93;
}